/*RESET DO CSS*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(15, 15, 15);
    background-size: auto 100vh;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: rgb(225, 110, 0);
}

header {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(225, 110, 0);
}

@media (min-width: 400px) {
    body {}
}

.menu {
    background-color: #252525;
    padding: 1vh;
    position: fixed;
    width: 100%;
    top: 0;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu a {
    display: block;
    color: whitesmoke;
    text-decoration: none;
    font-weight: bolder;
    padding: 10px 20px;
    transition: color .3s;
}

.menu a:hover {
    color: rgb(225, 110, 0);
}

.site-subtitle,
.site-title {
    color: whitesmoke;
    text-align: center;
}

.site-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
}

.site-subtitle {
    font-family: 'Quicksand', sans-serif;
    font-size: 2em;
    color: rgb(200, 200, 200);
}

.dark {
    color: rgb(73, 73, 73);
}

@-webkit-keyframes blinker {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
}

.blink {
    color: whitesmoke;
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
}

.contact,
.portfolio {
    padding: 2em;
    min-height: 100vh;
}

.contact h2,
.portfolio h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    text-align: center;
    line-height: 3em;
    margin-bottom: 1em;
    color: rgb(225, 110, 0);
}

.portfolio figcaption {
    font-size: 20px;
    line-height: 3em;
}

.portfolio .grid {
    display: grid;
    gap: 3em;
    justify-content: center;
}

@media(min-width: 560px) {
    .portfolio .grid {
        grid-template-columns: 280px 280px;
    }
}

@media(min-width: 880px) {
    .portfolio .grid {
        grid-template-columns: repeat(3, 280px);
        align-content: center;
        justify-content: center;
        height: 40vh;
    }
}

.portfolio figure {
    text-align: center;
}

.img-portfolio {
    height: auto;
    width: 280px;
    object-fit: cover;
    transition: .3s;
}

.img-portfolio:hover {
    transform: scale(1.1)
}

.contact a {
    color: rgb(200, 200, 200);
    text-decoration: none;
    font-size: 3em;
    transition: color 0.4s;
}

.contato a:active,
.contact a:hover {
    color: rgb(225, 110, 0);
}

.contact .icons {
    text-align: center;
}

.signature {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}